$heading-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  font-family: $heading-font;
  border-bottom: 1px dashed gray;
}

.body > header * {
  font-family: $heading-font;
}

.body > header h1 {
  font-size: 2rem;
  padding-top: 0;
}

article:not(.fd--item) > header {
  border-bottom: 1px dashed gray;
  margin-bottom: 0.5rem;

  & > .fd--meta-label {
    margin-left: 0.5rem;
    &:first-of-type {
      padding-left: 0.5rem;
      border-left: 1px dashed gray;
    }
  }
}


@mixin heading($level) {
  $heading-size: 1.1rem;
  $size-increase: 0.1rem;
  $spacing-increase: 0.2rem;
  $space: calc(0.5rem + (6 - #{$level}) * #{$spacing-increase});

  h#{$level} {
    font-size: calc(#{$heading-size} + (6 - #{$level}) * #{$size-increase});
    padding-top: $space;
  }

  .fd--item.fd--heading.fd--h#{$level} {
    margin-top: $space;
  }
}

@for $h from 1 through 6 {
  @include heading($h);
}