@import "fd--globals";

$heading-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$heading-size: 1rem;
$size-increase: 0.15rem;
$spacing-increase: 0.2rem;


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  font-family: $heading-font;
}

.fd--item > header {
  h1, h2, h3, h4, h5, h6 {
    display: block;
  }
}

#fd--body > header * {
  font-family: $heading-font;
}

#fd--body > header h1 {
  font-size: 2rem;
  padding-top: 0;
}

@function space($level) {
  @return "#{0.5rem} + (#{6} - #{$level}) * #{$spacing-increase}";
}

@mixin heading($level) {
  $space: calc(#{space($level)});
  $half-space: calc(#{space($level)} / 2);

  main {
    h#{$level} {
      font-size: calc(#{$heading-size} + (6 - #{$level}) * #{$size-increase});
    }

    .fd--item.fd--is-heading.fd--h#{$level} {
      margin-top: $space;
      & > .fd--content {
        padding-top: $paragraph-spacing;
      }
    }

    & > .fd--item:first-child {
      margin-top: $paragraph-spacing !important;
    }
  }
}

@for $h from 1 through 6 {
  @include heading($h);
}