@import "fd--globals";

$label-spacing: 0.25rem;
$label-min-width: calc(1.5rem + (#{$label-spacing} * 2));
$line-height: 1.6rem;
$font-size-increase: 10%;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body, table, input, header .tippy-box {
  //font-family: 'Baloo 2', 'Tahoma', sans-serif
  font-family: "Roboto Condensed", sans-serif
}

html, body, table, input {
  font-size: $font-size;
}

.tippy-box {
  font-size: inherit;
  line-height: inherit;
  white-space: normal;
  & > .tippy-content p:first-child {
    margin-top: 0;
  }
}

main article > header .tippy-box {
  font-size: $font-size;
  font-weight: normal;
}

strong {
  font-weight: 600;
}

main p {
  margin-top: $paragraph-spacing;
  margin-bottom: $paragraph-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  & + p {
    margin-top: calc(#{$paragraph-spacing} / 2);
  }

  &.fd--inline {
    display: inline-flex;
  }
}


p {
  margin: 0;
  align-self: center;
}

a[href] {
  text-decoration-line: none;
  color: navy;

  &.fd--internal {
    color: #050;
  }
}

.fd--labels {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 1;
  gap: 0.1rem;
  padding: 0.1rem;
}

.fd--label {
  display: inline-flex;
  text-align: center;

  text-decoration: none !important;
  cursor: help;
  text-shadow: 1px 1px #323232;
}

.fd--meta-label {
  cursor: help;
  text-shadow: 1px 1px #323232;
}

.fd--warning {
  background: rgba(255, 243, 205, 0.5);
  border-radius: 0.25rem;
}

.fd--global_anchor {
  display: none;
}