ul, ol {
  margin: 0;

  &:not(.fd--checklist) {
    padding-left: 1.5rem;
  }
}


article {
  ul, ol {
    &:last-of-type {
      // Having an extra margin at the bottom of an article messes with the grid layout,
      // creating unnecessary spacing.
      // This should be covered by a global "margin: 0", but leave this in in case that changes.
      margin-bottom: 0
    }
  }
}

