$checkbox-spacing: 0.15rem;
$bg-meta: #DDD;
$border: 1px solid gray;
$border-header: 1px dashed gray;

@mixin appearance($val) {
  appearance: $val;
  -webkit-appearance: $val;
  -moz-appearance: $val;
  -ms-progress-appearance: $val;
}

br.fd--newline {
  display: none;

  .fd--item + & {
    display: block;
  }
}

.fd--item {
  display: inline-flex;
  flex-direction: column;
  margin: $checkbox-spacing;
  margin-right: calc(#{$checkbox-spacing} * 2);

  & > header {
    display: flex;
    align-items: stretch;
    padding: 0;

    &:nth-last-child(2) > {
      .fd--title, .fd--meta {
        border-bottom: $border-header;
      }
    }

    & > {
      .fd--title {
        border: $border;
        display: flex;
        align-items: center;
        padding: $checkbox-spacing;

        &:nth-last-child(3) {
          border-right: 0;
        }

        h1, h2, h3, h4, h5, h6 {
          margin: 0.2em;
        }
      }

      .fd--checkbox {
        border: $border;
        border-right: none;
        background-color: $bg-meta;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & > input {
          @include appearance(none);

          $size: 1.5rem;
          width: $size;
          height: $size;
          display: block;
          outline: none;
          //box-shadow: 2px 2px 2px #888, inset 0 2px 3px #fff;
          border: 1px outset silver;
          background-size: cover;
          background-color: white;

          &:checked {
            background-image: url("assets/icons/check.svg");
            box-shadow: none;
            background-color: transparent;
            border: none;
          }

          &.fd--single:checked {
            background-image: url("assets/icons/check-bold.svg");
          }
        }
      }

      .fd--meta {
        display: flex;
        align-items: center;
        border: $border;
        border-left: $border-header;
        background: $bg-meta;
        padding: 0;

        & > .fd--meta-label {
          margin: 0 $checkbox-spacing;
        }
      }

      .fd--spacer {
        flex-grow: 1;
        border-bottom: $border;
        margin: 0;
      }
    }

  }

  .fd--content {
    border: $border;
    border-top: none;
    padding: $checkbox-spacing;
  }

  &.fd--is-heading {
    display: flex;
    flex-direction: column;

    & > {
      div, header {
        border: none;
      }

      header {
        padding-left: 0;
        margin-bottom: $checkbox-spacing;
        border-bottom: $border-header;

        & > .fd--title {
          border: none;
          padding-left: 0;
          & > {
            h1, h2, h3, h4, h5, h6 {
              margin-left: 0;
              margin-bottom: 0;
            }
          }
        }

        & > .fd--meta {
          border: none;
          border-left: $border-header;
        }

        & > .fd--spacer {
          border: none;
        }

      }

      .fd--content {
        padding: 0;

        & > .fd--item {
          margin-left: 0;
        }
      }
    }

    & > header > {
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }
  }
}