@import "fd--globals";

$bg-meta: #DDD;
$border: 1px solid gray;
$border-header: 1px dashed gray;
$title-height: 1.5rem;
$checkbox-border-width: 1px;

@mixin appearance($val) {
  appearance: $val;
  -webkit-appearance: $val;
  -moz-appearance: $val;
  -ms-progress-appearance: $val;
}

br.fd--newline {
  display: none;

  .fd--item + & {
    display: block;
  }
}

.fd--item {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  margin-right: $item-spacing;
  margin-top: $item-spacing;

  & > header {
    display: flex;
    align-items: stretch;
    padding: 0;

    &:nth-last-child(2) > {
      .fd--title, .fd--labels, .fd--meta {
        border-bottom: $border-header;
      }
    }

    & > {
      .fd--checkbox {
        border: $border;
        border-right: none;
        background-color: $bg-meta;
        padding: 0;
        display: flex;
        justify-content: center;

        & > input {
          @include appearance(none);

          height: $title-height;
          width: $title-height;
          display: block;
          outline: none;
          border: $checkbox-border-width outset silver;
          background-size: cover;
          background-color: white;

          &:checked {
            background-image: url("assets/icons/check.svg");
            box-shadow: none;
            background-color: transparent;
            border: none;
          }

          &.fd--single:checked {
            background-image: url("assets/icons/check-bold.svg");
          }
        }
      }

      .fd--title {
        border: $border;
        display: flex;
        min-height: calc(#{$title-height} + #{$checkbox-border-width * 2});
        padding: 0 $paragraph-spacing / 2;
        border-right: 0;

        & > p:first-child {
          margin-top: 0;

          & > p {
            flex-shrink: 0;
          }
        }

        &:nth-last-child(2) {
          border-right: $border;
        }
      }

      .fd--labels {
        border-bottom:$border;
        border-top: $border;
        border-left: $border-header;
        background: $bg-meta;

        &:nth-last-child(2) {
          border-right: $border;
        }
      }

      .fd--meta {
        display: flex;
        border: $border;
        border-left: $border-header;
        background: $bg-meta;
        padding: 0;

        & > .fd--meta-label {
          margin: 0 $item-spacing / 2;
        }
      }

      .fd--spacer {
        flex-grow: 1;
        border-bottom: $border;
        margin: 0;
      }
    }

  }

  & > .fd--content {
    border: $border;
    border-top: none;
  }

  &:not(.fd--is-heading) > {
    .fd--content {
      padding: $item-spacing / 2;

      & > p:first-child {
        margin-top: 0;
      }

      & > .fd--item {
        margin: $item-spacing / 2;
      }
    }
  }

  &:not(.fd--is-heading):not(.fd--has-heading) > .fd--content > p {
    max-width: $paragraph-max-width;
  }

  &.fd--has-heading > header > .fd--title {
    padding: $paragraph-spacing / 4 $paragraph-spacing;
  }

  &.fd--is-heading {
    display: flex;
    flex-direction: column;

    & > {
      div, header {
        border: none;
      }

      header {
        padding-left: 0;
        border-bottom: $border-header;

        & > .fd--title {
          border: none;
          padding-left: 0;
          padding-right: $paragraph-spacing;
          padding-bottom: $paragraph-spacing / 2;

          & > {
            h1, h2, h3, h4, h5, h6 {
              margin-left: 0;
              margin-bottom: 0;
            }
          }
        }

        & > {
          .fd--labels, .fd--meta {
            border: none;
            border-left: $border-header;
          }
        }

        & > .fd--spacer {
          border: none;
        }

      }
    }

    & > header > {
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }
  }
}