/* baloo-2-regular - latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo 2 Regular'),
       local('Baloo2-Regular'),
       url('assets/fonts/baloo-2-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/baloo-2-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* baloo-2-600 - latin */
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Baloo 2 SemiBold'),
       local('Baloo2-SemiBold'),
       url('assets/fonts/baloo-2-v1-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/baloo-2-v1-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS Bold Italic'),
       local('Trebuchet-BoldItalic'),
       url('assets/fonts/Trebuchet-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS Bold'),
       local('TrebuchetMS-Bold'),
       url('assets/fonts/TrebuchetMS-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS Italic'), 
       local('TrebuchetMS-Italic'),
       url('assets/fonts/TrebuchetMS-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: local('Trebuchet MS'),
       local('TrebuchetMS'),
       url('assets/fonts/TrebuchetMS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
