$checkbox-spacing: 0.2rem
$checkbox-size: 1.2rem
$indent: calc(#{$checkbox-spacing} + #{$checkbox-size})

main 
  ul, ol 
    padding-left: 0
    margin: 0
    overflow: hidden

    li
      display: flex
      align-items: flex-start

      & + li
        margin-top: 0.1rem

    & > li 
      & > ul, & > ol 
        margin-left: 1rem

    .fd--bullet 
      min-height: $li-bullet
      min-width: $li-bullet
      height: $li-bullet
      width: $li-bullet
      text-align: center
      &::before 
        content: '•'
        font-size: 2rem
        line-height: $checkbox-size

li.fd--checkitem
  & > .fd--bullet
    margin-top: 0
    padding-right: 0.1rem
    &::before
      content: none
    & > input
      width: 100%
      height: 100%
      display: block
      margin: 0