@import url("https://fonts.googleapis.com/css?family=ABeeZee");
@Prefix: "fd--";
@paragraph-spacing: 0.2rem;

body, table, input {
  font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
}

p {
  margin: @paragraph-spacing 0;
}

a[href] {
  text-decoration-line: none;
  color: mediumblue;
  &.fd--internal {
    color: green;
  }
  &.fd--dead {
    color: red;
  }
}

.fd--label {
  margin-right: 0.25em;
  font-family: monospace;
  background-color: silver;
  padding: 0.1em 0.25em;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  .fd--label {
    margin-right: 0;
    margin-left: 0.25rem;
  }
}

.fd--global_anchor {
  display: none;
}